@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --soft-cyan: hsl(174, 77%, 80%); /*(Full Slider Bar) */
  --strong-cyan: hsl(174, 86%, 45%); /* (Slider Backround) */
  --light-grayish-red: hsl(14, 92%, 95%); /*  (Discount Background) */
  --light-red: hsl(15, 100%, 70%); /* (Discount Text) */
  --pale-blue: hsl(226, 100%, 87%); /* (CTA Text) */

  /* Neutral */

  --white: hsl(0, 0%, 100%); /* (Pricing Component Background) */
  --very-pale-blue: hsl(230, 100%, 99%); /*  (Main Background) */
  --light-grayish-blue: hsl(224, 65%, 95%); /*  (Empty Slider Bar) */
  --light-grayish-blue: hsl(223, 50%, 87%); /* (Toggle Background) */
  --grayish-blue: hsl(225, 20%, 60%); /*  (Text) */
  --dark-desaturated-blue: hsl(227, 35%, 25%); /*  (Text & CTA Background) */
}

body {
  font-family: "Manrope", sans-serif;
  background: url("./components/assets/bg-pattern.svg") no-repeat;
  background-color: var(--very-pale-blue);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./components//assets/pattern-circles.svg") no-repeat center;
  z-index: 2;
}

.heading {
  font-size: 1.5rem;
  z-index: 3;
}

.header p {
  color: var(--grayish-blue);
}

/* Card */

.container {
  max-width: 350px;
  margin: 0 auto;
  padding-top: 2rem;
}

.card {
  background-color: var(--white);
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
  border-radius: 11px;
  position: relative;
  color: var(--grayish-blue);
}

/* Toggle switch */

.toggle .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-grayish-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 3px;
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle input:checked + .slider {
  background-color: var(--strong-cyan);
}

.toggle input:focus + .slider {
  box-shadow: 0 0 1px var(--strong-cyan);
}

.toggle input:checked + .slider:before {
  transform: translateX(26px);
}

.toggle .slider.round {
  border-radius: 20px;
}

.toggle .slider.round:before {
  border-radius: 50%;
}

/* Billing  */
.card .heading__views {
  padding: 1rem 0 2rem 0;
}

.card .pricing {
  padding-bottom: 2rem;
}

.toggle {
  font-size: .68rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 2.5rem;
}

.toggle .billing__monthly {
  padding-right: .6rem;
}

.toggle .switch {
  margin-right: .5rem;
}

.toggle .billing__discount {
  padding: .1rem .4rem;
  background-color: var(--light-grayish-red);
  border-radius: 20px;
  color: var(--light-red);
  margin-left: 3px;
}

/* Line */

.line {
    width: 100%;
    border-color: #1A85FD;
  }
